<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color: #545859;">
    <div class="container"></div>
        <div class="jumbotron" style="background-color: #202425">
            <h2 style="margin-left:8%; color: lightgray;">Decentralized Stock Exchange </h2>
             <form action="/submit-form" method="POST">
                <div style="margin-left:8%; margin-top: 5%; margin-right:8%;">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" name="user" class="form-control" placeholder="Enter address"/>
                    </div>
                    <div class="input-group" style="margin-top: 2%;">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" name="password" class="form-control" placeholder="Enter Password"/>
                    </div>
                    <input style="margin-top: 5%;" class="btn btn-default" type="submit" value="Submit">  
                </div>
            </form>                
            
            <p style="margin-left:8%;margin-top: 5%; color: red;"><%= loginStatus %></p>             

        </div>       
    </div>
</body>
</html>